<mat-toolbar color="primary" class="primary"></mat-toolbar>
<span class="rocket"></span>
<span class="headertext">Dyeing Mill</span>
<span class="date1">THU 2, DEC, 21</span>
<span class="profile"></span>
<span class="name">Ram Sharma</span>

<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened="true"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
   
  >
    <mat-icon class="icon">file_copy</mat-icon>
    <span class="icontext">PROCESS</span><br />
    <mat-icon class="maintainicon">settings </mat-icon>
    <span class="maintainicontext">MAINTENANCE</span>
  </mat-sidenav>
</mat-sidenav-container>
<mat-toolbar class="toprectangle">
  <mat-tab-group class="tab1">
    <mat-tab class="tabtext" label="Sikka Report"></mat-tab>
    <mat-tab class="tabtext" label="Blank"></mat-tab>
  </mat-tab-group>
</mat-toolbar>

<div class="centertext">Sikka Report</div>

<mat-form-field appearance="fill" class="master">
  <mat-label></mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="option1">Master 1</mat-option>
    <mat-option value="option2">Master 2</mat-option>
    <mat-option value="option3">Master 3</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="dateinput">
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="centerbox"></div>